
#--region---
AWS_REGION=
AWS_ACCESS_KEY_ID=A
AWS_SECRET_ACCESS_KEY

#-- s3
S3_BUCKET=

#--Firecrawl
FIRECRAWL_API_KEY=


#--EXA
EXA_API_KEY=

#--DDB
DDB_TABLE=

#--Cognito
COGNITO_USER_POOL_ID=

COGNITO_CLIENT_ID==
NEXT_PUBLIC_COGNITO_CLIENT_ID=

COGNITO_DOMAIN=
NEXT_PUBLIC_COGNITO_DOMAIN=
COGNITO_REDIRECT_URI=http://localhost:3000/api/auth/callback/cognito
COGNITO_LOGOUT_REDIRECT_URI=http://localhost:3000

# .env.local
COGNITO_REGION=ap-southeast-5

BETTER_AUTH_URL=

BEDROCK_MODEL_ID=

EXA_API_KEY=

